<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title">
            <h1>
                My First Blog: A Quirky Journey Through Nature, Cats, and Cupcakes
        </h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h1>{{post.title}}</h1>
                <h2>{{post.subtitle}}</h2>
                <p>{{post.body}}</p>
            </div>
            <div class="card">
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing</h1>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ipsa dicta, praesentium, quis nisi facere eum quidem officiis 
                    nulla autem fugiat dolorum dignissimos provident expedita sequi!</p>
            </div>

    </div>
</div>
</body>
<footer>
  <p class='footer_para'>
    &lt;/&gt; Built by Maaz Siddiqui | Powered by Flask | © {{ current_year }}
    <br>
    <a href="https://github.com/maazsiddiqui79" target="_blank">GitHub</a> |
    <a href="https://www.linkedin.com/in/siddiqui-maazzz/" target="_blank">LinkedIn</a> |
    <a href="{{url_for('get_blog',num=post.id)}}" class="back-to-top">⬆</a> |
    <a href="{{url_for('home')}}" class="back-to-top">Home</a>
  </p>


</footer>
</html>